/*

Primary 1: Green hues (dark to light)
#2D661B;
#467B35;
#649B52;
#8BBA7C;
#BBDBB1;

Secondary 1: Purple hues (dark to light)
#5B1846;
#6E305B;
#8A4976;
#A66F95;
#C69FBA;

Primary 2: Blue hues (dark to light)
#235E9B;
#3E74AC;
#5E91C6;
#87B1DD;
#BBD5F1;

Secondary 2: Orange hues (dark to light)
#EE6A26;
#FF894E;
#FF9F6E;
#FFB894;
#FFD6C1;


Primary colors swatch (r,g,b, etc.)
Red:	#F44336;
Pink:	#E91E63;
Purple:	#9C27B0;
Blue:	#2196F3;
Green:	#4CAF50;
Yellow:	#FDD835;
Orange:	#FF9800;
*/
body {
	background-color:#fff;
	font-family: 'Hind Madurai', helvetica, arial, sans-serif;
	padding-top: 5.9rem;
}
@media (min-width: 576px) {
	body {
		padding-top: 6.8rem;
	}
}
form #website {display:none;}
a {
	color:#3e5ed1;
}
header,h1,h2,h3,h4,h5,h6,.lead {
	color:#5874da;
	font-family: 'Lora', Georgia, times, serif;
	font-style: oblique;
}
.lead {
	color:#424242;
}
.fancy {
	font-family: 'Dancing Script', cursive;
}
/* Primary colors */
.black {color:#000000;}
.red {color:#F44336;}
.pink {color:#E91E63;}
.purple {color:#acbdf8;}
.blue {color:#a4e7f7;}
.green {color:#4CAF50;}
.yellow {color:#FDD835;}
.orange {color:#FF9800;}
.white {color:#FFFFFF;}
/* Navbar */
.bg-navbar {
	background-color:#fff;
}
.navbar-brand img {
	max-height:78px;
}
@media (min-width: 576px) {
	.navbar-brand img {
		max-height:93px;
	}
}
.navbar-light .navbar-nav .nav-link {
	color: #3e5ed1;
	padding-right:18px;
	padding-left:18px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	background-color: #d7dffc;
	color: #212121;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
	color: #fff;
	background-color:#3e5ed1;
}
.navbar-light .navbar-toggler {
	color:#fff;
	border-color:#3e5ed1;
}
.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(21, 101, 192, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #0d47a1;
}
/* Hero */
.hero {
	background-image:url(img/maldives.jpg);
	position: relative;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	margin:0;
	/*min-width:1280px;*/
	text-align:center;
}
@media (min-width: 992px) {
	.hero {
		background-position:center -150px;
	}
}
.hero h1 {
	color:#ffffff;
	font-family: 'Dancing Script', cursive;
	font-size:40px;
	font-style:normal;
	/*font-weight:700;*/
	letter-spacing:1px;
	line-height:39px;
	margin-bottom:20px;
	padding-top:140px;
	text-shadow: 1px 2px 2px #222;
}
.hero .sub-heading {
	color:#ffffff;
	font-family: 'Lora', Georgia, times, serif;
	font-size:28px;
	font-weight:400;
	letter-spacing:normal;
	line-height:1.25;
	margin-bottom:10px;
	margin-top:0;
	padding-bottom:125px;
	text-shadow: 1px 2px 2px #222;
}
@media (min-width: 768px) {
	.hero h1 {
		font-size:68px;
	}
	.hero .sub-heading {
		font-size:30px;
	}
}
/* Breadcrumb */
#breadcrumb,.breadcrumb {
	background-color: #3e5ed1;
}
.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item.active {
	color: #d7dffc;
}
.breadcrumb-item {
	margin-top:25px;
	margin-bottom:18px;
	font-weight:600;
	text-transform:uppercase;
}
.breadcrumb-item a {
	color:#fff;
}
/* Main */
.bg-icon {color:#a4e7f7;}
/* Footer */
footer .light {
	background-color:#d7dffc;
}
footer .dark {
	background-color:#a3faba;
}
footer a {
	color:#2D661B;
}
footer a:hover {
	color:#467B35;
}
footer h2 {
	color:#2D661B;
}
.contact-info,.copyright {
	color:#424242;
}
@media (min-width: 768px) {
	.copyright {
		text-align:right;
	}
}
/* Carousel */
.carousel {
  margin-bottom: 4rem;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
